.navBar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 90%;
  height: 30px;
  margin: auto;
}

.logo {
  height: 60px;
}

.btn {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding: 10px 20px;
  border-top-left-radius: 25px 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}


/*Boton Entrar y salir*/
.crearCuenta {
  position: relative;
  margin: auto;
  padding: 4px 12px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.crearCuenta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #aa9863;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.crearCuenta span {
  position: relative;
  font-family: "Lemonada", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.crearCuenta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.crearCuenta:hover:before {
  width: 100%;
  background: #d4c474;
}

.crearCuenta:hover svg {
  transform: translateX(0);
}

.crearCuenta:active {
  transform: scale(0.95);
}

/*Hoja descripcion*/
.descripcion-fondo {
  background-image: url("/assets/backgrounds/bg-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.descripcion-fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Capa oscura con opacidad */
  z-index: -1;
  /* Coloca la capa oscura detrás del contenido */
}

.descripcion-mensaje {
  font-family: "Lemonada", sans-serif;
  font-size: 34px;
  text-align: center;
  color: #aa9863;
  justify-content: center;
}

.descripcion-pie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50px 50px 0 0;
}

.descripcion-pie h2 {
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
  font: bold 28px/1.5 sans-serif;
}

.descripcion-pie h4 {
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
  padding: 20px;
  font: normal 18px/1.5 sans-serif;
  padding: 0 150px;

}

.social-icons a {
  text-decoration: none;
}

.facebook-button,
.twitter-button {
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}

.facebook-button img,
.twitter-button img {
  width: 40px;
  height: 40px;
}

.facebook-button {
  margin-right: 120px;
}

.facebook-button:hover,
.twitter-button:hover {
  transform: scale(1.6);
}


.descripcion-icons {
  text-align: center;
}

@media (max-width: 740px) {

  /* Estilos generales */
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  /* Estilos de la barra de navegación */
  .navBar {
    padding: 34px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }

  .logo {
    height: 40px;
  }

  /* Estilos del mensaje de descripción */
  .descripcion-mensaje {
    padding: 12vw;
  }

  .descripcion-mensaje h1 {
    font-size: 28px;
    margin-top: 33px;
  }

  /* Estilos del pie de página */
  .descripcion-pie {
    width: 100%;
    margin: auto;

  }

  .descripcion-pie h2 {
    padding: 2vw;
    font-size: 24px;
  }

  .descripcion-pie h4 {
    font-size: 15px;
    font-weight: 400;
    color: #ffffffb0;
    margin-bottom: 20px;
    padding: 0 24px;
  }

  .descripcion-pie p {
    margin-top: 10px;
  }
}

/* Estilos para pantallas moviles más pequeños */
@media (min-width: 375px) and (max-width: 667px) {

  .descripcion-mensaje h1 {
    font-size: 28px;
  }

  .descripcion-pie h2 {
    padding: 7vw;
    font-size: 18px;
  }

  .descripcion-pie h4 {
    font-size: 13px;
  }
}

/* Estilos para pantallas moviles habituales*/
@media (min-width: 390px) and (max-width: 844px) {
  .descripcion-pie h4 {
    font-size: 18px;
  }
}

/* Estilos para pantallas tablets*/
@media (min-width: 820px) and (max-width: 1180px) {

  .descripcion-mensaje h1 {
    font-size: 60px;
  }

  .descripcion-pie h4 {
    font-size: 25px;
  }

  .facebook-button img,
  .twitter-button img {
    width: 70px;
    height: 70px;
  }

}

@media (max-width: 667px) {
  .descripcion-mensaje h1 {
    font-size: 23px;
  }

  .descripcion-pie h4 {
    font-size: 14px;
  }

  .descripcion-pie h2 {
    font-size: 16px;
  }
}

@media (min-width: 390px) and (max-width: 844px) {
  .descripcion-mensaje h1 {
    font-size: 31px;
  }

  .descripcion-pie h4 {
    font-size: 17px;
  }

  .descripcion-pie h2 {
    font-size: 19px;
  }
}